* {
    background-color: #eef2ff;
    margin: 0;
}

.page-title {color: #af0a0f;}

/* =========== Navbar START ============ */
.navbar-component {
    max-height: 2.6em;
    border-bottom: solid grey 1px;
    margin-bottom: 0.75%;
}

.navbar-component .nav-link {color: green;}
.navbar-component .nav-link:hover {color: green;}
/* ============ Navbar END ============= */