.board-catalog-page .board-creator {margin-bottom: 0.25%;}
.board-catalog-page .page-description {white-space: pre-line;}
.board-catalog-page .board-data-divider {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 0.5%;
}