.thread-page .thread-nav {
    text-align: left;
    padding-left: 0.5%;
    margin-bottom: 0%;
} .thread-page .thread-nav-right {
    float: right;
    padding-right: 0.5%;
} .thread-page .bookmark-thread-form-component {width: 25rem;}

.thread-page .board-data-divider {margin-top: 0.25%;}
.thread-page .board-data-divider, .thread-page .last-reply-divider {
    width: 99%;
    margin-left: 0.5%;
    margin-bottom: 0.25%;
}

.thread-page .thread-content {margin-left: 1.5%;}
.thread-page .thread-content, .thread-page .thread-content * {
    font-family: arial;
    font-size: 10pt;
    text-align: left;
    padding: 0;
}

.thread-page .thread-row {margin-left: 0;}
.thread-page .thread-image-filename {
    margin-left: -1.25%;
    margin-bottom: 0.25%;
}

.thread-page .minimized-thread-image:hover, .thread-page .maximized-thread-image:hover {cursor: pointer;}
.thread-page .minimized-thread-image, .thread-page .maximized-thread-image {
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
} .thread-page .minimized-thread-image {
    max-height: 300px;
    max-width: 400px;
} .thread-page .maximized-thread-image {
    max-height: 50rem;
    max-width: 99%;
}

.thread-page .thread-heading {margin-bottom: 0.5rem;}
.thread-page .thread-subject {color: #0f0c5d;}
.thread-page .thread-body {white-space: pre-line;}
.thread-page .username {color: #117743;}

.thread-page .reply-row, .thread-page .reply-row * {background-color: #d6daf0;}
.thread-page .reply-row {
    margin-left: 0%;
    margin-bottom: 0.25rem;
} .thread-page .reply-row * {margin-bottom: 0%;}
.thread-page .reply-heading {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
} .thread-page .reply-filename {
    margin-bottom: 0.25%;
    padding-left: 0.5rem;
}

.thread-page .minimized-reply-image:hover, .thread-page .maximized-reply-image:hover {cursor: pointer;}
.thread-page .minimized-reply-image, .thread-page .maximized-reply-image {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
} .thread-page .minimized-reply-image {
    max-height: 125px;
    max-width: 125px;
} .thread-page .maximized-reply-image {
    max-height: 50rem;
    max-width: 99%;
}

.thread-page .reply-body {
    white-space: pre-line;
    padding: 0.4rem 1rem 0.75rem 1rem;
}

.thread-page .clickable-brackets {margin-bottom: 0.5%;}

.thread-page .post-reply-form {
    margin-left: 30%;
    margin-right: 30%;
} .thread-page .post-reply-form .form-control {
    margin-left: 12.5%;
    width: 75%;
} .thread-page .post-reply-form #post-reply-form-reply {
    margin-left: 5%;
    width: 90%;
}

.thread-page .btn {margin-bottom: 2.5%;}